# Library Import

In [1]:
import duckdb
import pandas as pd

# Installing Extensions

In [2]:
con = duckdb.connect("data_export.db")

In [3]:
con.install_extension("httpfs")
con.load_extension("httpfs")

In [4]:
con.install_extension("spatial")
con.load_extension("spatial")

# Sample Data

In [5]:
con.sql(
    """
        CREATE TABLE IF NOT EXISTS cities AS
        SELECT * EXCLUDE geometry, ST_GeomFromWKB(geometry)
        AS geometry FROM 'https://open.gishub.org/data/duckdb/cities.parquet'
    """
)

In [6]:
con.table("cities").show()

┌─────────┬────────┬───────────┬───────────┬──────────────────┬────────────┬─────────────────────────────┐
│ country │   id   │ latitude  │ longitude │       name       │ population │          geometry           │
│ varchar │ double │  double   │  double   │     varchar      │   double   │          geometry           │
├─────────┼────────┼───────────┼───────────┼──────────────────┼────────────┼─────────────────────────────┤
│ UGA     │    1.0 │    0.5833 │   32.5333 │ Bombo            │    75000.0 │ POINT (32.5333 0.5833)      │
│ UGA     │    2.0 │     0.671 │    30.275 │ Fort Portal      │    42670.0 │ POINT (30.275 0.671)        │
│ ITA     │    3.0 │    40.642 │    15.799 │ Potenza          │    69060.0 │ POINT (15.799 40.642)       │
│ ITA     │    4.0 │    41.563 │    14.656 │ Campobasso       │    50762.0 │ POINT (14.656 41.563)       │
│ ITA     │    5.0 │    45.737 │     7.315 │ Aosta            │    34062.0 │ POINT (7.315 45.737)        │
│ ALD     │    6.0 │    60.097 │    19.949 │ Mariehamn        │    10682.0 │ POINT (19.949 60.097)       │
│ PSE     │    7.0 │  31.90294 │  35.20621 │ Ramallah         │    24599.0 │ POINT (35.20621 31.90294)   │
│ VAT     │    8.0 │  41.90001 │  12.44781 │ Vatican City     │      832.0 │ POINT (12.44781 41.90001)   │
│ FRA     │    9.0 │  46.58329 │   0.33328 │ Poitier          │    85960.0 │ POINT (0.33328 46.58329)    │
│ FRA     │   10.0 │  45.77998 │   3.08001 │ Clermont-Ferrand │   233050.0 │ POINT (3.08001 45.77998)    │
│  ·      │     ·  │      ·    │      ·    │   ·              │       ·    │            ·                │
│  ·      │     ·  │      ·    │      ·    │   ·              │       ·    │            ·                │
│  ·      │     ·  │      ·    │      ·    │   ·              │       ·    │            ·                │
│ JPN     │ 1240.0 │  35.68502 │ 139.75141 │ Tokyo            │ 35676000.0 │ POINT (139.75141 35.68502)  │
│ IND     │ 1241.0 │  19.01699 │  72.85699 │ Mumbai           │ 18978000.0 │ POINT (72.85699 19.01699)   │
│ FRA     │ 1242.0 │  48.86669 │   2.33334 │ Paris            │  9904000.0 │ POINT (2.33334 48.86669)    │
│ CHL     │ 1243.0 │ -33.45001 │ -70.66704 │ Santiago         │  5720000.0 │ POINT (-70.66704 -33.45001) │
│ IND     │ 1244.0 │  22.49497 │  88.32468 │ Kolkata          │ 14787000.0 │ POINT (88.32468 22.49497)   │
│ BRA     │ 1245.0 │ -22.92502 │ -43.22502 │ Rio de Janeiro   │ 11748000.0 │ POINT (-43.22502 -22.92502) │
│ BRA     │ 1246.0 │ -23.55868 │ -46.62502 │ Sao Paulo        │ 18845000.0 │ POINT (-46.62502 -23.55868) │
│ AUS     │ 1247.0 │ -33.92001 │ 151.18518 │ Sydney           │  4630000.0 │ POINT (151.18518 -33.92001) │
│ SGP     │ 1248.0 │   1.29303 │ 103.85582 │ Singapore        │  5183700.0 │ POINT (103.85582 1.29303)   │
│ CHN     │ 1249.0 │  22.30498 │ 114.18501 │ Hong Kong        │  7206000.0 │ POINT (114.18501 22.30498)  │
├─────────┴────────┴───────────┴───────────┴──────────────────┴────────────┴─────────────────────────────┤
│ 1249 rows (20 shown)                                                                         7 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────┘

# To DataFrames

In [7]:
con.table("cities").df()

,country,id,latitude,longitude,name,population,geometry
0,UGA,1.0,0.58330,32.53330,Bombo,75000.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
1,UGA,2.0,0.67100,30.27500,Fort Portal,42670.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
2,ITA,3.0,40.64200,15.79900,Potenza,69060.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
3,ITA,4.0,41.56300,14.65600,Campobasso,50762.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
4,ITA,5.0,45.73700,7.31500,Aosta,34062.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
...,...,...,...,...,...,...,...
1244,BRA,1245.0,-22.92502,-43.22502,Rio de Janeiro,11748000.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
1245,BRA,1246.0,-23.55868,-46.62502,Sao Paulo,18845000.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
1246,AUS,1247.0,-33.92001,151.18518,Sydney,4630000.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
1247,SGP,1248.0,1.29303,103.85582,Singapore,5183700.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
1248,CHN,1249.0,22.30498,114.18501,Hong Kong,7206000.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."

# To CSV

In [9]:
con.sql("COPY cities TO './out/cities.csv' (HEADER, DELIMITER ',')")

In [10]:
con.sql(
    """
    COPY (SELECT * FROM cities WHERE country='USA')
    TO './out/cities_us.csv' (HEADER, DELIMITER ',')"""
)

# To JSON

In [11]:
con.sql("COPY cities TO './out/cities.json'")

In [12]:
con.sql("COPY (SELECT * FROM cities WHERE country='USA') TO './out/cities_us.json'")

# To Excel

In [13]:
con.sql(
    "COPY (SELECT * EXCLUDE geometry FROM cities) TO './out/cities.xlsx' WITH (FORMAT GDAL, DRIVER 'XLSX')"
)

# To Parquet

In [14]:
con.sql("COPY cities TO './out/cities.parquet' (FORMAT PARQUET)")

In [15]:
con.sql(
    "COPY (SELECT * FROM cities WHERE country='USA') TO './out/cities_us.parquet' (FORMAT PARQUET)"
)

# To GeoJSON

In [16]:
con.sql("COPY cities TO './out/cities.geojson' WITH (FORMAT GDAL, DRIVER 'GeoJSON')")

In [17]:
con.sql(
    "COPY (SELECT * FROM cities WHERE country='USA') TO './out/cities_us.geojson' WITH (FORMAT GDAL, DRIVER 'GeoJSON')"
)

# To Shapefile

In [18]:
con.sql("COPY cities TO './out/cities.shp' WITH (FORMAT GDAL, DRIVER 'ESRI Shapefile')")

# To GeoPackage

In [19]:
con.sql("COPY cities TO './out/cities.gpkg' WITH (FORMAT GDAL, DRIVER 'GPKG')")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))